.container-profile {
  align-items: center;
  display: flex;
  height: 75vh;
  justify-content: space-around;
  margin: auto;
  margin-top: 100px;
  width: 70%;
}

.profile-picture {
  border-radius: 50%;
  height: 350px;
  width: 350px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  width: 400px;
}

.edit-profile-button {
  background-color: #1db954;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  padding: 12px 20px;
}
